body {
    background-image: url('images/background.jpg');
    background-size: cover; /* Adjust the size as needed */
    background-position: center center; /* Center the background image */
    background-attachment: fixed; /* Keeps the background image fixed during scrolling */
}




#container {
    text-align: center;
    color: #fff;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro-image {
    width: 250px; /* Adjust as needed */
    border: 3px solid #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}

#start-button, #submit-button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#start-button:hover, #submit-button:hover {
    background-color: #218838;
}

#flag {
    width: 250px; /* Adjust as needed */
    height: auto;
    border: 3px solid #fff;
    border-radius: 8px;
    margin: 20px 0;
}

#answer {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#feedback {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}
